In [2]:
import pandas as pd
import pathlib

In [3]:
computed_features_folder = pathlib.Path('./new_features/')

# Small Graphs

In [13]:
#JÃ¡ pega o target_graphs
small_graphs_features_files = list(computed_features_folder.glob("*graphs_*.csv"))

In [14]:
small = pd.read_csv(small_graphs_features_files[20])
small.head()

,city_name,city_id,streets_per_node_avg,node_density_km,intersection_density_km,edge_density_km,street_density_km,1way_int_count,2way_int_count,3way_int_count,4way_int_count,2way_int_prop,nodes_per_km_street,organic_prop,meshedness_coefficient,5way_int_count,6way_int_count,5way_int_prop,6way_int_prop
0,egbe,2351,2.610169,174.568086,133.145150,92353.807779,46176.903890,42,0,120,15,0.000000,0.003780,0.915254,0.785100,0.0,0.0,0.00000,0.000000
1,egobhoza,4071,2.663564,117.139558,90.736426,37002.222848,18513.180829,678,0,1986,344,0.000000,0.006327,0.885638,0.811845,0.0,0.0,0.00000,0.000000
2,egosi,2330,2.463636,71.059044,46.834370,30907.936743,15564.488763,75,0,113,32,0.000000,0.004565,0.854545,0.710345,0.0,0.0,0.00000,0.000000
3,ehlau hlau,4067,2.750181,100.387799,81.180025,33404.743463,16703.672225,530,0,1872,368,0.000000,0.006010,0.867148,0.844264,0.0,0.0,0.00000,0.000000
4,eindhoven,2205,2.846760,155.286515,133.281870,36418.857806,21872.398684,1474,162,7272,1474,0.015574,0.007100,0.854102,0.731673,18.0,2.0,0.00173,0.000192

In [15]:
def merge_all_files(files_list:list) ->pd.DataFrame:
    final_df = pd.DataFrame() 
    for file in files_list:
        temp_df = pd.read_csv(file)
        final_df = pd.concat([final_df, temp_df])
    
    unwanted_cols = ['max_info_centrality', 'avg_info_centrality', 'max_betweenness_centrality',
                    'avg_betweenness_centrality', 'global_efficiency', 'avg_closeness_centrality']
    for col in unwanted_cols:
        if col in final_df.columns:
            final_df.drop(col, axis=1, inplace=True)
    
    return final_df

In [16]:
small_graphs_feat_df = merge_all_files(small_graphs_features_files)

In [17]:
small_graphs_feat_df.head()

,city_name,city_id,streets_per_node_avg,node_density_km,intersection_density_km,edge_density_km,street_density_km,1way_int_count,2way_int_count,3way_int_count,...,19way_int_prop,20way_int_prop,21way_int_prop,22way_int_prop,23way_int_prop,24way_int_prop,25way_int_prop,26way_int_prop,27way_int_prop,28way_int_prop
0,abidjan,1675,2.936697,141.555173,123.793646,39548.647408,20733.230905,4101,16,22448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abuja,2565,2.649295,151.633890,118.899379,45221.290085,25807.838050,4424,28,14359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,accra,1910,2.793080,135.717346,115.739419,41304.476603,21356.772946,9887,16,51417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,adana,4237,2.992730,353.406591,326.299573,70754.534021,38895.877178,1762,13,17887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,addis ababa,5134,2.873387,557.255876,483.777424,113221.691294,61017.049078,7744,17,42926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
len(small_graphs_feat_df)

8929

In [19]:
small_graphs_feat_df

,city_name,city_id,streets_per_node_avg,node_density_km,intersection_density_km,edge_density_km,street_density_km,1way_int_count,2way_int_count,3way_int_count,...,19way_int_prop,20way_int_prop,21way_int_prop,22way_int_prop,23way_int_prop,24way_int_prop,25way_int_prop,26way_int_prop,27way_int_prop,28way_int_prop
0,abidjan,1675,2.936697,141.555173,123.793646,39548.647408,20733.230905,4101,16,22448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abuja,2565,2.649295,151.633890,118.899379,45221.290085,25807.838050,4424,28,14359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,accra,1910,2.793080,135.717346,115.739419,41304.476603,21356.772946,9887,16,51417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,adana,4237,2.992730,353.406591,326.299573,70754.534021,38895.877178,1762,13,17887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,addis ababa,5134,2.873387,557.255876,483.777424,113221.691294,61017.049078,7744,17,42926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,tripoli,2971,2.725761,156.344411,127.211934,35735.175984,19253.268274,8089,17,31024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,tripoli,4361,2.935174,154.154972,138.193548,39708.114677,23464.174717,345,3,2511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,valencia,13011,2.684766,518.205630,409.562217,181532.630592,91469.875576,139,0,455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,valencia,1911,3.067709,154.297093,144.029493,30652.912539,21660.949503,1886,275,20366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,valencia,821,2.866364,180.847551,150.153504,46389.633789,26011.516962,4294,40,15774,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
len(small_graphs_feat_df.drop_duplicates(subset=['city_id']))

8909

In [21]:
valores = small_graphs_feat_df['city_id'].value_counts()
valores[valores > 1]

729      2
1912     2
101      2
1911     2
1780     2
821      2
2971     2
1035     2
7887     2
88       2
1800     2
12298    2
350      2
2565     2
5222     2
119      2
2980     2
8005     2
931      2
2051     2
Name: city_id, dtype: int64

In [22]:
orig_small_graphs_df = pd.read_csv('./data/grafos_pequenos.csv')
orig_big_graphs_df = pd.read_csv('./data/grafos_grandes.csv')

In [23]:
orig_small_graphs_df.head()

,country,country_iso,core_city,uc_id,cc_avg_dir,cc_avg_undir,cc_wt_avg_dir,cc_wt_avg_undir,circuity,elev_iqr,...,prop_3way,prop_deadend,self_loop_proportion,straightness,uc_names,world_region,world_subregion,resident_pop,area,built_up_area
0,indonesia,IDN,wates,12375,0.036690,0.038630,0.004276,0.004359,1.065403,11.0,...,0.743653,0.171990,0.000619,0.938612,Wates,Asia,South-Eastern Asia,107046,28.0,4.717896
1,brazil,BRA,taquaralto,1186,0.024520,0.035016,0.001195,0.001439,1.008276,18.0,...,0.589312,0.043543,0.000000,0.991791,Taquaralto,Latin America and the Caribbean,South America,90077,20.0,9.620359
2,china,CHN,xinqiao,12218,0.036481,0.045724,0.001608,0.001723,1.016544,2.0,...,0.486911,0.125654,0.000000,0.983725,Xinqiao; Jiepai; Baqiao; Houxiang,Asia,Eastern Asia,104714,42.0,22.057976
3,colombia,COL,yopal,687,0.016110,0.019414,0.001072,0.001221,1.011106,16.0,...,0.583149,0.056171,0.000460,0.989016,Yopal,Latin America and the Caribbean,South America,167421,16.0,5.645732
4,czech_republic,CZE,pilsen,2886,0.032913,0.044298,0.001418,0.001758,1.047311,24.0,...,0.536906,0.250421,0.001013,0.954826,Pilsen,Europe,Eastern Europe,142248,53.0,28.124355

In [24]:
ids_to_add_at_small = {id for id in orig_small_graphs_df['uc_id'].tolist()}.difference(set(small_graphs_feat_df['city_id']))

In [25]:
ids_to_add_at_small

set()

In [26]:
{id for id in small_graphs_feat_df['city_id'].tolist()}.difference(set(orig_small_graphs_df['uc_id']))

{10,
 14,
 18,
 21,
 49,
 57,
 65,
 74,
 79,
 84,
 88,
 101,
 111,
 116,
 119,
 126,
 139,
 140,
 143,
 144,
 146,
 153,
 177,
 178,
 187,
 193,
 196,
 200,
 250,
 272,
 273,
 288,
 315,
 321,
 323,
 349,
 350,
 362,
 392,
 400,
 403,
 411,
 417,
 427,
 467,
 487,
 500,
 501,
 512,
 528,
 554,
 556,
 559,
 561,
 568,
 621,
 624,
 634,
 651,
 675,
 681,
 719,
 729,
 770,
 790,
 816,
 819,
 821,
 847,
 849,
 855,
 875,
 880,
 897,
 898,
 901,
 902,
 931,
 945,
 976,
 1006,
 1009,
 1017,
 1022,
 1035,
 1074,
 1091,
 1105,
 1165,
 1177,
 1210,
 1218,
 1242,
 1291,
 1303,
 1312,
 1343,
 1346,
 1361,
 1372,
 1406,
 1420,
 1445,
 1452,
 1473,
 1474,
 1502,
 1551,
 1553,
 1569,
 1575,
 1595,
 1656,
 1675,
 1701,
 1709,
 1751,
 1771,
 1780,
 1785,
 1799,
 1800,
 1819,
 1830,
 1838,
 1857,
 1910,
 1911,
 1912,
 2020,
 2046,
 2051,
 2078,
 2080,
 2095,
 2123,
 2125,
 2167,
 2186,
 2189,
 2276,
 2310,
 2354,
 2484,
 2531,
 2559,
 2565,
 2717,
 2749,
 2767,
 2851,
 2897,
 2961,
 2971,
 2973,
 2980,
 3050,
 3134,
 3193,
 3209,
 3216,
 3268,
 3420,
 3528,
 3562,
 3589,
 3673,
 3675,
 3698,
 3751,
 3756,
 3798,
 3809,
 3843,
 3868,
 3902,
 4220,
 4237,
 4309,
 4335,
 4337,
 4408,
 4417,
 4424,
 4427,
 4808,
 4907,
 4921,
 5134,
 5159,
 5222,
 5314,
 5354,
 5528,
 5698,
 5705,
 5737,
 5811,
 5820,
 5836,
 5854,
 5865,
 5878,
 5915,
 5918,
 6008,
 6118,
 6169,
 6329,
 6405,
 6473,
 6595,
 6618,
 6651,
 6737,
 6760,
 6845,
 6893,
 6955,
 7041,
 7190,
 7264,
 7459,
 7854,
 7885,
 7887,
 7927,
 7963,
 8005,
 8023,
 8050,
 8095,
 8284,
 8675,
 8759,
 8835,
 9122,
 9691,
 9872,
 10155,
 10248,
 10297,
 10687,
 10692,
 10715,
 10988,
 11074,
 11136,
 11139,
 11146,
 11478,
 11498,
 11640,
 11653,
 11719,
 11800,
 12044,
 12080,
 12179,
 12253,
 12298,
 12384,
 12386,
 12389,
 12394,
 12400,
 12444,
 12610,
 12678,
 12693,
 12696,
 12708,
 12709,
 12725,
 12736,
 12741,
 12743,
 12769,
 12778,
 12803,
 12825,
 12829,
 12838,
 12857,
 12863,
 12869,
 12881,
 12882,
 12902,
 12904,
 12931,
 12947,
 12949,
 12956,
 12958,
 12971,
 12972,
 12977,
 12980,
 12981,
 13023,
 13043,
 13076,
 13129}

Realized that I was computing features based on cities names other than its id. Had to fix this.

In [27]:
{' '.join(city.split('_')) for city in orig_small_graphs_df['core_city'].tolist()}.difference(set(small_graphs_feat_df['city_name']))

set()

In [28]:
len(orig_small_graphs_df)

8605

In [29]:
valid_ids = orig_big_graphs_df['uc_id'].tolist()
wrong_cities_in_small = small_graphs_feat_df.query('city_id in @valid_ids')

In [30]:
wrong_ids = wrong_cities_in_small['city_id'].tolist()
small_graphs_feat_df.query('city_id not in @wrong_ids', inplace = True)

In [31]:
len(small_graphs_feat_df)

8605

In [32]:
small_graphs_feat_df.isna().sum()

city_name                     0
city_id                       0
streets_per_node_avg          0
node_density_km               0
intersection_density_km       0
                           ...
24way_int_prop             8605
25way_int_prop             8605
26way_int_prop             8605
27way_int_prop             8605
28way_int_prop             8605
Length: 63, dtype: int64

In [33]:
small_graphs_merge_file_path = pathlib.Path('./data/small_graphs_new_feats_merge.csv')
small_graphs_feat_df.to_csv(small_graphs_merge_file_path, index=False)

# Big Graphs

In [34]:
big_graphs_features_files = list(computed_features_folder.glob("big*.csv"))

In [35]:
big_graphs_feat_df = merge_all_files(big_graphs_features_files)

In [36]:
big_graphs_feat_df.head()

,city_name,city_id,streets_per_node_avg,node_density_km,intersection_density_km,edge_density_km,street_density_km,1way_int_count,2way_int_count,3way_int_count,...,19way_int_prop,20way_int_prop,21way_int_prop,22way_int_prop,23way_int_prop,24way_int_prop,25way_int_prop,26way_int_prop,27way_int_prop,28way_int_prop
0,abidjan,1675,2.936697,141.555173,123.793646,39548.647408,20733.230905,4101,16,22448,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abuja,2565,2.649295,151.633890,118.899379,45221.290085,25807.838050,4424,28,14359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,accra,1910,2.793080,135.717346,115.739419,41304.476603,21356.772946,9887,16,51417,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,adana,4237,2.992730,353.406591,326.299573,70754.534021,38895.877178,1762,13,17887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,addis ababa,5134,2.873387,557.255876,483.777424,113221.691294,61017.049078,7744,17,42926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Checking whether all big cities were processed

In [37]:
len(big_graphs_feat_df)

304

In [38]:
ids_to_add_at_big = {id for id in orig_big_graphs_df['uc_id'].tolist()}.difference(set(big_graphs_feat_df['city_id']))

In [39]:
ids_to_add_at_big

{154, 11862, 12858, 12914, 12964}

Esses sÃ£o exatamente as cidades nas quais nÃ£o iremos processar por restriÃ§Ãµes de memÃ³ria.

In [40]:
big_graphs_merge_file_path = pathlib.Path('./data/big_graphs_new_feats_merge.csv')
big_graphs_feat_df.to_csv(big_graphs_merge_file_path, index=False)