In [1]:
import pandas as pd
import pathlib

In [2]:
computed_features_folder = pathlib.Path('./new_features/')

# Small Graphs

In [3]:
#JÃ¡ pega o target_graphs
small_graphs_features_files = list(computed_features_folder.glob("*graphs_*.csv"))

In [4]:
small = pd.read_csv(small_graphs_features_files[20])
small.head()

,city_name,city_id,streets_per_node_avg,node_density_km,intersection_density_km,edge_density_km,street_density_km,1way_int_count,2way_int_count,3way_int_count,4way_int_count,5way_int_count,6way_int_count,2way_int_prop,5way_int_prop,6way_int_prop,nodes_per_km_street,organic_prop,meshedness_coefficient
0,gallarate,2519,2.725128,157.734956,130.632489,37524.311736,21548.310956,772,55,3311,349,3.0,3.0,0.012241,0.000668,0.000668,0.007320,0.920009,0.623943
1,galle,8935,2.363522,219.765099,144.851462,64451.735184,32926.845488,1084,2,1949,144,1.0,0.0,0.000629,0.000314,0.000000,0.006674,0.954374,0.638797
2,galway,1584,2.264151,347.108671,216.124267,59384.942102,31204.356773,1300,14,2054,75,2.0,0.0,0.004064,0.000581,0.000000,0.011124,0.977558,0.572408
3,gama,1215,2.878424,284.709911,249.562964,66491.870863,36251.610082,1253,9,7611,1273,4.0,0.0,0.000887,0.000394,0.000000,0.007854,0.874076,0.795778
4,gamagori,12944,3.173014,143.198108,136.287366,41250.872010,21875.707928,147,3,2090,788,18.0,0.0,0.000985,0.005909,0.000000,0.006546,0.735130,1.005098

In [5]:
def merge_all_files(files_list:list) ->pd.DataFrame:
    final_df = pd.DataFrame() 
    for file in files_list:
        temp_df = pd.read_csv(file)
        final_df = pd.concat([final_df, temp_df])
    
    unwanted_cols = ['max_info_centrality', 'avg_info_centrality', 'max_betweenness_centrality',
                    'avg_betweenness_centrality', 'global_efficiency', 'avg_closeness_centrality']
    final_df.drop(unwanted_cols, axis=1, inplace=True)
    
    return final_df

In [6]:
small_graphs_feat_df = merge_all_files(small_graphs_features_files)

In [7]:
small_graphs_feat_df.head()

,city_name,city_id,streets_per_node_avg,node_density_km,intersection_density_km,edge_density_km,street_density_km,1way_int_count,2way_int_count,3way_int_count,...,11way_int_prop,12way_int_prop,13way_int_count,14way_int_count,15way_int_count,16way_int_count,13way_int_prop,14way_int_prop,15way_int_prop,16way_int_prop
0,6th of october,3881,3.074547,134.838226,129.955905,29758.680898,22894.690589,136,5,3061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9th,4032,3.123626,50.469652,49.637735,21212.274383,19026.130382,6,1,299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aachen,2245,2.656357,99.808709,78.028727,30088.459591,17058.828775,896,89,2670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aalborg,2486,2.547955,143.889085,101.025472,33429.217757,19072.796647,1202,31,2240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aarhus,2518,2.620561,141.914403,104.059823,33875.790251,19395.066465,1645,57,3536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
len(small_graphs_feat_df)

8625

In [9]:
small_graphs_feat_df

,city_name,city_id,streets_per_node_avg,node_density_km,intersection_density_km,edge_density_km,street_density_km,1way_int_count,2way_int_count,3way_int_count,...,11way_int_prop,12way_int_prop,13way_int_count,14way_int_count,15way_int_count,16way_int_count,13way_int_prop,14way_int_prop,15way_int_prop,16way_int_prop
0,6th of october,3881,3.074547,134.838226,129.955905,29758.680898,22894.690589,136,5,3061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9th,4032,3.123626,50.469652,49.637735,21212.274383,19026.130382,6,1,299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aachen,2245,2.656357,99.808709,78.028727,30088.459591,17058.828775,896,89,2670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aalborg,2486,2.547955,143.889085,101.025472,33429.217757,19072.796647,1202,31,2240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aarhus,2518,2.620561,141.914403,104.059823,33875.790251,19395.066465,1645,57,3536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,tripoli,2971,2.725761,156.344411,127.211934,35735.175984,19253.268274,8089,17,31024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,tripoli,4361,2.935174,154.154972,138.193548,39708.114677,23464.174717,345,3,2511,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,valencia,13011,2.684766,518.205630,409.562217,181532.630592,91469.875576,139,0,455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,valencia,1911,3.067709,154.297093,144.029493,30652.912539,21660.949503,1886,275,20366,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,valencia,821,2.866364,180.847551,150.153504,46389.633789,26011.516962,4294,40,15774,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
len(small_graphs_feat_df.drop_duplicates(subset=['city_id']))

8625

In [11]:
valores = small_graphs_feat_df['city_id'].value_counts()
valores[valores > 1]

Series([], Name: city_id, dtype: int64)

In [12]:
orig_small_graphs_df = pd.read_csv('./data/grafos_pequenos.csv')
orig_big_graphs_df = pd.read_csv('./data/grafos_grandes.csv')

In [13]:
orig_small_graphs_df.head()

,country,country_iso,core_city,uc_id,cc_avg_dir,cc_avg_undir,cc_wt_avg_dir,cc_wt_avg_undir,circuity,elev_iqr,...,prop_3way,prop_deadend,self_loop_proportion,straightness,uc_names,world_region,world_subregion,resident_pop,area,built_up_area
0,indonesia,IDN,wates,12375,0.036690,0.038630,0.004276,0.004359,1.065403,11.0,...,0.743653,0.171990,0.000619,0.938612,Wates,Asia,South-Eastern Asia,107046,28.0,4.717896
1,brazil,BRA,taquaralto,1186,0.024520,0.035016,0.001195,0.001439,1.008276,18.0,...,0.589312,0.043543,0.000000,0.991791,Taquaralto,Latin America and the Caribbean,South America,90077,20.0,9.620359
2,china,CHN,xinqiao,12218,0.036481,0.045724,0.001608,0.001723,1.016544,2.0,...,0.486911,0.125654,0.000000,0.983725,Xinqiao; Jiepai; Baqiao; Houxiang,Asia,Eastern Asia,104714,42.0,22.057976
3,colombia,COL,yopal,687,0.016110,0.019414,0.001072,0.001221,1.011106,16.0,...,0.583149,0.056171,0.000460,0.989016,Yopal,Latin America and the Caribbean,South America,167421,16.0,5.645732
4,czech_republic,CZE,pilsen,2886,0.032913,0.044298,0.001418,0.001758,1.047311,24.0,...,0.536906,0.250421,0.001013,0.954826,Pilsen,Europe,Eastern Europe,142248,53.0,28.124355

In [14]:
ids_to_add_at_small = {id for id in orig_small_graphs_df['uc_id'].tolist()}.difference(set(small_graphs_feat_df['city_id']))

In [15]:
ids_to_add_at_small

set()

In [16]:
{id for id in small_graphs_feat_df['city_id'].tolist()}.difference(set(orig_small_graphs_df['uc_id']))

{88,
 101,
 119,
 350,
 729,
 821,
 931,
 1035,
 1780,
 1800,
 1911,
 1912,
 2051,
 2565,
 2971,
 2980,
 5222,
 7887,
 8005,
 12298}

Realized that I was computing features based on cities names other than its id. Had to fix this.

In [17]:
{' '.join(city.split('_')) for city in orig_small_graphs_df['core_city'].tolist()}.difference(set(small_graphs_feat_df['city_name']))

set()

In [18]:
len(orig_small_graphs_df)

8605

In [19]:
valid_ids = orig_big_graphs_df['uc_id'].tolist()
wrong_cities_in_small = small_graphs_feat_df.query('city_id in @valid_ids')

In [20]:
wrong_ids = wrong_cities_in_small['city_id'].tolist()
small_graphs_feat_df.query('city_id not in @wrong_ids', inplace = True)

In [21]:
len(small_graphs_feat_df)

8605

In [22]:
small_graphs_feat_df.isna().sum()

city_name                     0
city_id                       0
streets_per_node_avg          0
node_density_km               0
intersection_density_km       0
edge_density_km               0
street_density_km             0
1way_int_count                0
2way_int_count                0
3way_int_count                0
4way_int_count                0
5way_int_count                0
2way_int_prop                 0
5way_int_prop                 0
nodes_per_km_street           0
organic_prop                  0
meshedness_coefficient        0
6way_int_count              300
6way_int_prop               300
7way_int_count             5064
7way_int_prop              5064
8way_int_count             7164
8way_int_prop              7164
9way_int_count             8324
9way_int_prop              8324
10way_int_count            8444
10way_int_prop             8444
11way_int_count            8545
12way_int_count            8545
11way_int_prop             8545
12way_int_prop             8545
13way_int_count            8565
14way_int_count            8565
15way_int_count            8585
16way_int_count            8585
13way_int_prop             8565
14way_int_prop             8565
15way_int_prop             8585
16way_int_prop             8585
dtype: int64

In [23]:
small_graphs_merge_file_path = pathlib.Path('./data/small_graphs_new_feats_merge.csv')
small_graphs_feat_df.to_csv(small_graphs_merge_file_path, index=False)